Repository MichinobuMaeda/tamurodemo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-storage, deploy-firestore, deploy-functions, deploy-prod

.gitlab-ci.yml:

image: rambabusaravanan/firebase

stages:
  - deploy

cache:
  paths:
    - node_modules/
    - functions/node_modules/
  key: ${CI_COMMIT_REF_SLUG}

before_script:
  - npm install -g firebase-tools@latest
  - npm install -g firebase-functions@latest
  - cd functions && npm i && cd ..
  - yarn
  - firebase use $PROJECT_ID --token $FIREBASE_TOKEN
  - firebase functions:config:get --token $FIREBASE_TOKEN > functions/.runtimeconfig.json

deploy-storage:
  stage: deploy
  only:
    refs:
      - master
    changes:
      - storage.rules
  script:
    - firebase deploy --only storage -m "Pipe $CI_PIPELINE_ID Build $CI_BUILD_ID @ Hash ${CI_COMMIT_SHA:0:7}" --token $FIREBASE_TOKEN

deploy-firestore:
  stage: deploy
  only:
    refs:
      - master
    changes:
      - firestore.indexes.json
      - firestore.rules
  script:
    - firebase deploy --only firestore -m "Pipe $CI_PIPELINE_ID Build $CI_BUILD_ID @ Hash ${CI_COMMIT_SHA:0:7}" --token $FIREBASE_TOKEN

deploy-functions:
  stage: deploy
  only:
    refs:
      - master
    changes:
      - functions/**/*
  script:
    - firebase deploy --only functions -m "Pipe $CI_PIPELINE_ID Build $CI_BUILD_ID @ Hash ${CI_COMMIT_SHA:0:7}" --token $FIREBASE_TOKEN
    - node ./tools/setupService.js

deploy-prod:
  stage: deploy
  only:
    refs:
      - master
    changes:
      - src/**/*
      - src-pwa/**/*
      - package.json
      - yarn.lock
      - quasar.conf.js
      - babel.config.js
      - firebase.json
  script:
    - node ./tools/setFirebaseConfig.js
    - node ./tools/updateVersion.js
    - yarn run test
    - yarn run build
    - firebase deploy --only hosting -m "Pipe $CI_PIPELINE_ID Build $CI_BUILD_ID @ Hash ${CI_COMMIT_SHA:0:7}" --token $FIREBASE_TOKEN
    - node ./tools/updateUiVersion.js

bug fix: docs
  docs/dev.md
Due: none

inprove actions job
  .github/workflows/ui.yaml
  public/service-worker.js
Due: none

bug fix: cache control
  firebase.json
  tools/release.sh
Due: deploy-prod

bug fix: my messages bg-color
  src/conf/theme.js
  src/parts/ChatTimeline.vue
Due: deploy-prod

Emulator bug in M1? / update packages
  functions/yarn.lock
  tools/setupTestService.js
  yarn.lock
Due: deploy-functions, deploy-prod

change cache control ref. https://ionicframework.com/docs/vue/pwa
  firebase.json
Due: deploy-prod

test messageing
  public/firebase-messaging-sw.js
  src/App.vue
  src/plugins/firebase.js
Due: deploy-prod

test messageing
  src/plugins/firebase.js
  src/store/messaging.js
Due: deploy-prod

update firebase-tools / add browser's messaging support detection
  functions/package.json
  functions/yarn.lock
  package.json
  src/plugins/firebase.js
  src/store/messaging.js
  tools/setupTestService.js
  yarn.lock
Due: deploy-functions, deploy-prod

improve documents
  README.md
  docs/dev.md
  docs/firebase.md
  docs/prerequisites.md
  docs/project.md
  docs/vue.md
Due: none

modify for demo
  .firebaserc
  .github/workflows/ui.yaml
  functions/initialData.js
  src/plugins/firebase.js
  tests/unit/_testUtils.js
  tests/unit/functions/_testUtils.js
  tools/env.js
  tools/setupTestService.js
Due: deploy-functions, deploy-prod

change theme color
  README.md
  docs/conf.md
  docs/project.md
  src/conf/theme.js
Due: deploy-prod

change theme color
  .github/workflows/functions.yaml
  .github/workflows/ui.yaml
  docs/project.md
  src/App.vue
  src/conf/theme.js
Due: deploy-prod

fix document
  docs/project.md
Due: none

revert doc & github actions CODECOV_TOKEN
  .github/workflows/functions.yaml
  .github/workflows/ui.yaml
  docs/project.md
Due: none

add how to create demo pj to doc
  README.md
  docs/newrepo.png
  public/favicon.ico
  public/img/icons/android-chrome-192x192.png
  public/img/icons/android-chrome-512x512.png
  public/img/icons/android-chrome-maskable-192x192.png
  public/img/icons/android-chrome-maskable-512x512.png
  public/img/icons/apple-touch-icon-120x120.png
  public/img/icons/apple-touch-icon-152x152.png
  public/img/icons/apple-touch-icon-180x180.png
  public/img/icons/apple-touch-icon-60x60.png
  public/img/icons/apple-touch-icon-76x76.png
  public/img/icons/apple-touch-icon.png
  public/img/icons/emblem.png
  public/img/icons/favicon-16x16.png
  public/img/icons/favicon-32x32.png
  public/img/icons/msapplication-icon-144x144.png
  public/img/icons/mstile-150x150.png
  public/img/icons/safari-pinned-tab.svg
Due: none

Update README.md
  README.md
Due: none

document: bug fix
  docs/dev.md
Due: none

document: bug fix
  docs/prerequisites.md
Due: none

for windows
  package.json
  tools/testOnly.bat
Due: deploy-prod

bug fix
  tools/testOnly.bat
Due: none

refactoring
  .gitignore
  docs/dev.md
  src/conf/version.js
  src/plugins/firebase-api-key.js
Due: deploy-prod

Windows 向けの手順の参照を追加
  README.md
Due: none

bug fix
  README.md
Due: none

bug fix
  .github/workflows/ui.yaml
  functions/initialData.js
Due: deploy-functions

test
  src/conf/theme.js
Due: deploy-prod
