Repository MichinobuMaeda/tamurodemo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-storage, deploy-firestore, deploy-functions, deploy-prod

.gitlab-ci.yml:

image: rambabusaravanan/firebase

stages:
  - deploy

cache:
  paths:
    - node_modules/
    - functions/node_modules/
  key: ${CI_COMMIT_REF_SLUG}

before_script:
  - npm install -g firebase-tools@latest
  - npm install -g firebase-functions@latest
  - cd functions && npm i && cd ..
  - yarn
  - firebase use $PROJECT_ID --token $FIREBASE_TOKEN
  - firebase functions:config:get --token $FIREBASE_TOKEN > functions/.runtimeconfig.json

deploy-storage:
  stage: deploy
  only:
    refs:
      - master
    changes:
      - storage.rules
  script:
    - firebase deploy --only storage -m "Pipe $CI_PIPELINE_ID Build $CI_BUILD_ID @ Hash ${CI_COMMIT_SHA:0:7}" --token $FIREBASE_TOKEN

deploy-firestore:
  stage: deploy
  only:
    refs:
      - master
    changes:
      - firestore.indexes.json
      - firestore.rules
  script:
    - firebase deploy --only firestore -m "Pipe $CI_PIPELINE_ID Build $CI_BUILD_ID @ Hash ${CI_COMMIT_SHA:0:7}" --token $FIREBASE_TOKEN

deploy-functions:
  stage: deploy
  only:
    refs:
      - master
    changes:
      - functions/**/*
  script:
    - firebase deploy --only functions -m "Pipe $CI_PIPELINE_ID Build $CI_BUILD_ID @ Hash ${CI_COMMIT_SHA:0:7}" --token $FIREBASE_TOKEN
    - node ./tools/setupService.js

deploy-prod:
  stage: deploy
  only:
    refs:
      - master
    changes:
      - src/**/*
      - src-pwa/**/*
      - package.json
      - yarn.lock
      - quasar.conf.js
      - babel.config.js
      - firebase.json
  script:
    - node ./tools/setFirebaseConfig.js
    - node ./tools/updateVersion.js
    - yarn run test
    - yarn run build
    - firebase deploy --only hosting -m "Pipe $CI_PIPELINE_ID Build $CI_BUILD_ID @ Hash ${CI_COMMIT_SHA:0:7}" --token $FIREBASE_TOKEN
    - node ./tools/updateUiVersion.js

bug fix
  functions/index.js
  public/service-worker.js
Due: deploy-functions

bug fix
  public/service-worker.js
  src/auth/line_me.js
Due: deploy-prod

bug fix
  public/service-worker.js
  src/auth/init.js
Due: deploy-prod

bug fix
  functions/line_me.js
  functions/package.json
  functions/yarn.lock
  public/service-worker.js
  src/auth/line_me.js
  yarn.lock
Due: deploy-functions, deploy-prod

bug fix
  functions/line_me.js
  public/service-worker.js
Due: deploy-functions

bug fix
  public/service-worker.js
  src/auth/line_me.js
  src/conf/providers.js
Due: deploy-prod

bug fix
  public/service-worker.js
  tests/unit/auth/init.spec.js
Due: none

bug fix
  functions/entries.js
  functions/line_me.js
  functions/package.json
  functions/yarn.lock
  public/service-worker.js
  src/auth/providers.js
Due: deploy-functions, deploy-prod

bug fix
  firestore.rules
  functions/entries.js
  functions/index.js
  functions/initialData.js
  functions/line_me.js
  public/service-worker.js
  src/App.vue
  src/auth/index.js
  src/auth/init.js
  src/auth/line_me.js
  src/auth/localStrage.js
  src/conf/providers.js
  src/locales/en_US.json
  src/locales/ja_JP.json
  src/parts/admin/Authentication.vue
  src/store/state.js
  tests/unit/auth/providers.spec.js
  tests/unit/functions/guards.spec.js
  tests/unit/store/state.spec.js
Due: deploy-firestore, deploy-functions, deploy-prod

add 'About administration'
  public/service-worker.js
  src/locales/en_US.json
  src/locales/ja_JP.json
  src/pages/Admin.vue
Due: deploy-prod

bug fix
  firebase.json
  src/parts/admin/Users.vue
Due: deploy-prod

bug fix
  public/service-worker.js
Due: none

bug fix
  public/service-worker.js
  src/conf/icons.js
  src/conf/permissions.js
  src/locales/en_US.json
  src/locales/ja_JP.json
  src/pages/Index.vue
  src/pages/User.vue
  src/parts/Chats.vue
  src/parts/Profile.vue
  src/parts/admin/Account.vue
Due: deploy-prod

pwa cache test
  firebase.json
Due: deploy-prod

test
  firebase.json
  public/service-worker.js
Due: deploy-prod

UI inprovement
  public/service-worker.js
  src/components/ConfirmButton.vue
Due: deploy-prod

app updater: change to modal bottom sheet
  src/components/AppUpdater.vue
Due: deploy-prod

raw data tree: change to fullscreen
  src/components/RawDataTree.vue
Due: deploy-prod

chats: add icon-button delete/restore
  public/service-worker.js
  src/locales/en_US.json
  src/locales/ja_JP.json
  src/parts/ChatTimeline.vue
Due: deploy-prod

chats summary: shorten messages
  src/conf/defaults.js
  src/parts/ChatTimeline.vue
  src/parts/Chats.vue
Due: deploy-prod

Refactoring
  firestore.rules
  public/service-worker.js
  src/App.vue
  src/store/state.js
  tests/unit/auth/init.spec.js
  tests/unit/store/state.spec.js
Due: deploy-firestore, deploy-prod

bug fix
  src/parts/ChatTimeline.vue
Due: deploy-prod

image uploading
  package.json
  public/service-worker.js
  src/App.vue
  src/conf/defaults.js
  src/conf/icons.js
  src/locales/en_US.json
  src/locales/ja_JP.json
  src/parts/ChatTimeline.vue
  src/parts/Chats.vue
  src/parts/ImageUploader.vue
  src/plugins/firebase.js
  src/store/chats.js
  src/store/index.js
  src/store/state.js
  storage.rules
  tests/unit/store/state.spec.js
Due: deploy-storage, deploy-prod

rotating images
  functions/entries.js
  functions/images.js
  functions/index.js
  functions/initialData.js
  functions/notification.js
  functions/package.json
  functions/yarn.lock
  package.json
  public/service-worker.js
  src/auth/line_me.js
  src/conf/defaults.js
  src/conf/icons.js
  src/locales/en_US.json
  src/locales/ja_JP.json
  src/parts/ChatTimeline.vue
  src/parts/ImageUploader.vue
  src/plugins/firebase.js
  src/store/chats.js
  tests/unit/functions/entries.spec.js
  yarn.lock
Due: deploy-functions, deploy-prod

rotating images
  public/service-worker.js
Due: none

rotating images
  functions/yarn.lock
  public/service-worker.js
  yarn.lock
Due: deploy-functions, deploy-prod

CI/CD test
  .github/workflows/ui.yaml
  public/service-worker.js
Due: none

CI/CD test
  functions/index.js
  public/service-worker.js
Due: deploy-functions

detect swipe
  public/service-worker.js
  src/components/Menu.vue
Due: deploy-prod

bug fix
  public/service-worker.js
  src/components/Menu.vue
Due: deploy-prod

bug fix
  public/service-worker.js
  src/components/Menu.vue
  src/store/init.js
  src/store/ui.js
  tests/unit/_testUtils.js
Due: deploy-prod

use given imaeg for menu icon
  public/img/icons/emblem.png
  public/service-worker.js
  src/App.vue
  src/components/Menu.vue
Due: deploy-prod

add function to rotate, delete uploaded images
  public/service-worker.js
  src/parts/ChatTimeline.vue
Due: deploy-prod

test cache
  firebase.json
Due: deploy-prod

update doc
  docs/dev.md
Due: none
