Repository MichinobuMaeda/tamurodemo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-storage, deploy-firestore, deploy-functions, deploy-prod

.gitlab-ci.yml:

image: rambabusaravanan/firebase

stages:
  - deploy

cache:
  paths:
    - node_modules/
    - functions/node_modules/
  key: ${CI_COMMIT_REF_SLUG}

before_script:
  - npm install -g firebase-tools@latest
  - npm install -g firebase-functions@latest
  - cd functions && npm i && cd ..
  - yarn
  - firebase use $PROJECT_ID --token $FIREBASE_TOKEN
  - firebase functions:config:get --token $FIREBASE_TOKEN > functions/.runtimeconfig.json

deploy-storage:
  stage: deploy
  only:
    refs:
      - master
    changes:
      - storage.rules
  script:
    - firebase deploy --only storage -m "Pipe $CI_PIPELINE_ID Build $CI_BUILD_ID @ Hash ${CI_COMMIT_SHA:0:7}" --token $FIREBASE_TOKEN

deploy-firestore:
  stage: deploy
  only:
    refs:
      - master
    changes:
      - firestore.indexes.json
      - firestore.rules
  script:
    - firebase deploy --only firestore -m "Pipe $CI_PIPELINE_ID Build $CI_BUILD_ID @ Hash ${CI_COMMIT_SHA:0:7}" --token $FIREBASE_TOKEN

deploy-functions:
  stage: deploy
  only:
    refs:
      - master
    changes:
      - functions/**/*
  script:
    - firebase deploy --only functions -m "Pipe $CI_PIPELINE_ID Build $CI_BUILD_ID @ Hash ${CI_COMMIT_SHA:0:7}" --token $FIREBASE_TOKEN
    - node ./tools/setupService.js

deploy-prod:
  stage: deploy
  only:
    refs:
      - master
    changes:
      - src/**/*
      - src-pwa/**/*
      - package.json
      - yarn.lock
      - quasar.conf.js
      - babel.config.js
      - firebase.json
  script:
    - node ./tools/setFirebaseConfig.js
    - node ./tools/updateVersion.js
    - yarn run test
    - yarn run build
    - firebase deploy --only hosting -m "Pipe $CI_PIPELINE_ID Build $CI_BUILD_ID @ Hash ${CI_COMMIT_SHA:0:7}" --token $FIREBASE_TOKEN
    - node ./tools/updateUiVersion.js

Delete dead code
  .github/workflows/functions.yaml
Due: none

UI: add unit test task
  .github/workflows/ui.yaml
Due: none

bug fix
  package.json
  yarn.lock
Due: deploy-prod

bug fix
  .github/workflows/ui.yaml
Due: none

CI/CD test
  .github/workflows/functions.yaml
  .github/workflows/ui.yaml
  firebase.json
  functions/package.json
  package.json
Due: deploy-functions, deploy-prod

bug fix
  firebase.json
  functions/package.json
  package.json
Due: deploy-functions, deploy-prod

refactoring
  docs/vue.md
  functions/accounts.js
  functions/service.js
  functions/tests/unit/accounts.spec.js
  functions/yarn.lock
  src/App.vue
  src/auth/email.js
  src/auth/guard.js
  src/auth/index.js
  src/auth/init.js
  src/auth/invitation.js
  src/auth/providers.js
  src/conf/menuItems.js
  src/conf/theme.js
  src/pages/Categories.vue
  src/pages/Group.vue
  src/pages/Preferences.vue
  src/pages/Service.vue
  src/pages/SignIn.vue
  src/pages/User.vue
  src/parts/PermittedMembers.vue
  src/parts/Profile.vue
  src/parts/SelectAuthProviders.vue
  src/store/accounts.js
  src/store/db.js
  src/store/index.js
  src/store/init.js
  src/store/io.js
  src/store/state.js
  src/store/utils.js
  yarn.lock
Due: deploy-functions, deploy-prod

bug fix
  functions/service.js
  src/auth/providers.js
  src/conf/theme.js
  src/pages/Service.vue
  src/pages/SignIn.vue
  src/parts/SelectAuthProviders.vue
  src/store/state.js
Due: deploy-functions, deploy-prod

add message for user has no sign-in method
  src/App.vue
  src/components/AppUpdater.vue
  src/locales/en_US.json
  src/locales/ja_JP.json
Due: deploy-prod

add firebase messaging
  .firebase/hosting.ZGlzdA.cache
  functions/accounts.js
  functions/tests/unit/accounts.spec.js
  public/firebase-messaging-sw.js
  public/service-worker.js
  src/App.vue
  src/components/AppInstaller.vue
  src/conf/icons.js
  src/locales/en_US.json
  src/locales/ja_JP.json
  src/plugins/firebase.js
  vue.config.js
Due: deploy-functions, deploy-prod

bug fix
  public/service-worker.js
Due: none

bug fix
  public/firebase-messaging-sw.js
Due: none

bug fix
  public/firebase-messaging-sw.js
  public/service-worker.js
  src/App.vue
  src/plugins/firebase.js
Due: deploy-prod

bug fix
  public/firebase-messaging-sw.js
  public/service-worker.js
Due: none

bug fix
  src/pages/SignIn.vue
Due: deploy-prod

bug fix
  public/firebase-messaging-sw.js
  public/service-worker.js
  src/registerServiceWorker.js
Due: deploy-prod

bug fix
  public/firebase-messaging-sw.js
  src/App.vue
  src/plugins/firebase.js
  src/registerServiceWorker.js
Due: deploy-prod

test
  public/firebase-messaging-sw.js
Due: none

test
  public/firebase-messaging-sw.js
  public/service-worker.js
  src/App.vue
Due: deploy-prod

test
  src/App.vue
Due: deploy-prod

test
  docs/firebase.md
  functions/accounts.js
  functions/index.js
  functions/service.js
  src/App.vue
  src/pages/Index.vue
  src/plugins/firebase.js
  src/store/init.js
  src/store/io.js
  tools/setupService.js
Due: deploy-functions, deploy-prod

bug fix
  functions/accounts.js
  functions/index.js
  functions/tests/unit/accounts.spec.js
  functions/tests/unit/utils.js
Due: deploy-functions

receive notification only in standalone mode
  src/store/io.js
Due: deploy-prod

add conf items of notification
  functions/accounts.js
  functions/service.js
  functions/tests/unit/accounts.spec.js
  src/locales/en_US.json
  src/locales/ja_JP.json
  src/pages/Service.vue
  src/store/io.js
Due: deploy-functions, deploy-prod

add chat
  functions/service.js
  functions/tests/unit/accounts.spec.js
  src/App.vue
  src/conf/defaults.js
  src/conf/icons.js
  src/conf/menuItems.js
  src/conf/routes.js
  src/locales/en_US.json
  src/locales/ja_JP.json
  src/pages/Chat.vue
  src/pages/Group.vue
  src/pages/Index.vue
  src/parts/ChatGroupSelector.vue
  src/parts/ChatSummary.vue
  src/parts/GroupsOfUser.vue
  src/parts/PermittedMembers.vue
  src/store/groups.js
  src/store/index.js
  src/store/init.js
  src/store/state.js
Due: deploy-functions, deploy-prod

bug fix
  src/store/io.js
  tools/setupService.js
Due: deploy-prod

backup / restore
  .gitignore
  functions/notification.js
  src/store/state.js
  tools/backup.js
  tools/env.js
  tools/resize-icons.js
  tools/restore.js
  tools/setupService.js
Due: deploy-functions, deploy-prod

add send notifications on create a group message
  functions/entries.js
  functions/index.js
  functions/notification.js
  functions/package.json
  functions/tests/unit/accounts.spec.js
  functions/tests/unit/api.spec.js
  functions/tests/unit/entries.spec.js
  functions/tests/unit/invitation.spec.js
  functions/tests/unit/notification.spec.js
  functions/tests/unit/quards.spec.js
  functions/tests/unit/service.spec.js
  functions/tests/unit/utils.js
  functions/yarn.lock
Due: deploy-functions

add unit test: auth/email
  README.md
  jest.config.js
  package.json
  src/App.vue
  src/auth/email.js
  src/auth/providers.js
  src/conf/icons.js
  src/conf/site.js
  src/plugins/firebase.js
  src/store/init.js
  tests/unit/auth/admin.spec.js
  tests/unit/auth/email.spec.js
  tests/unit/utils.js
  yarn.lock
Due: deploy-prod

add unit test: auth/invitation
  .github/workflows/ui.yaml
  package.json
  src/auth/invitation.js
  tests/unit/auth/email.spec.js
  tests/unit/auth/invitation.spec.js
  tests/unit/utils.js
  yarn.lock
Due: deploy-prod

bug fix
  src/conf/icons.js
Due: deploy-prod

bug fix
  .github/workflows/functions.yaml
  functions/tests/unit/utils.js
  functions/yarn.lock
Due: deploy-functions

add codecov flags
  functions/package.json
  package.json
Due: deploy-functions, deploy-prod

run all unit test for ci-jobs of both ui and functions
  .github/workflows/functions.yaml
  .github/workflows/ui.yaml
  functions/package.json
  functions/yarn.lock
  jest.config.js
  package.json
Due: deploy-functions, deploy-prod
