Repository MichinobuMaeda/tamurodemo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-storage, deploy-firestore, deploy-functions, deploy-prod

deploy-storage:
  stage: deploy
  script:
  - firebase deploy --only storage -m "Pipe $CI_PIPELINE_ID Build $CI_BUILD_ID @ Hash ${CI_COMMIT_SHA:0:7}" --token $FIREBASE_TOKEN

deploy-firestore:
  stage: deploy
  script:
  - firebase deploy --only firestore -m "Pipe $CI_PIPELINE_ID Build $CI_BUILD_ID @ Hash ${CI_COMMIT_SHA:0:7}" --token $FIREBASE_TOKEN

deploy-functions:
  stage: deploy
  script:
  - firebase deploy --only functions -m "Pipe $CI_PIPELINE_ID Build $CI_BUILD_ID @ Hash ${CI_COMMIT_SHA:0:7}" --token $FIREBASE_TOKEN
  - node ./tools/setupService.js

deploy-prod:
  stage: deploy
  script:
  - node ./tools/setFirebaseConfig.js
  - node ./tools/updateVersion.js
  - yarn run test
  - yarn run build
  - firebase deploy --only hosting -m "Pipe $CI_PIPELINE_ID Build $CI_BUILD_ID @ Hash ${CI_COMMIT_SHA:0:7}" --token $FIREBASE_TOKEN
  - node ./tools/updateUiVersion.js

bug fix
  .github/workflows/functions.yaml
  functions/tests/unit/entries.spec.js
  package.json
  yarn.lock
Due: deploy-functions, deploy-prod

bug fix
  functions/api.js
  functions/entries.js
  functions/index.js
  functions/tests/unit/entries.spec.js
Due: deploy-functions

add test, bug fix
  src/App.vue
  src/auth/providers.js
  src/conf/site.js
  src/store/state.js
  tests/unit/auth/admin.spec.js
  tests/unit/auth/email.spec.js
  tests/unit/auth/invitation.spec.js
  tests/unit/auth/providers.spec.js
  tests/unit/utils.js
Due: deploy-prod

bug fix
  .github/workflows/ui.yaml
  package.json
  yarn.lock
Due: deploy-prod

user firebase emulator on localhost
  .gitignore
  README.md
  docs/dev.md
  docs/vue.md
  firebase.json
  functions/.eslintrc.json
  functions/package.json
  functions/tests/unit/utils.js
  functions/yarn.lock
  package.json
  src/components/Menu.vue
  src/components/RawDataTree.vue
  src/plugins/firebase.js
  tests/unit/utils.js
  tools/env.js
  tools/setupTestService.js
  yarn.lock
Due: deploy-functions, deploy-prod

bug fix
  functions/.eslintrc.json
  functions/accounts.js
  functions/entries.js
  functions/invitation.js
  functions/service.js
  functions/tests/unit/accounts.spec.js
  functions/tests/unit/api.spec.js
  functions/tests/unit/entries.spec.js
  functions/tests/unit/invitation.spec.js
  functions/tests/unit/notification.spec.js
  functions/tests/unit/quards.spec.js
  functions/tests/unit/service.spec.js
  functions/tests/unit/utils.js
  functions/utils.js
Due: deploy-functions

refactoring
  README.md
  docs/dev.md
  functions/accounts.js
  functions/initialData.js
  functions/jest.config.js
  functions/service.js
  tests/unit/functions/accounts.spec.js
  tests/unit/functions/api.spec.js
  tests/unit/functions/entries.spec.js
  tests/unit/functions/invitation.spec.js
  tests/unit/functions/notification.spec.js
  tests/unit/functions/quards.spec.js
  tests/unit/functions/service.spec.js
  tests/unit/functions/utils.js
  tests/unit/utils.js
Due: deploy-functions

bug fix
  .firebase/hosting.ZGlzdA.cache
  .gitignore
  tools/setupTestService.js
Due: none

bug fix
  package.json
  yarn.lock
Due: deploy-prod

add test data for local server
  docs/dev.md
  tools/setupTestService.js
Due: none

simplify commands for local server, add tests
  docs/dev.md
  package.json
  src/store/accounts.js
  tests/unit/auth/init.spec.js
  tests/unit/store/accounts.spec.js
  tests/unit/store/init.spec.js
  tests/unit/utils.js
Due: deploy-prod

add unit test for src/store
  docs/dev.md
  src/auth/providers.js
  src/conf/defaults.js
  src/conf/index.js
  src/conf/providers.js
  src/pages/Chat.vue
  src/parts/ChatSummary.vue
  src/store/groups.js
  src/store/index.js
  src/store/io.js
  src/store/state.js
  tests/unit/store/groups.spec.js
  tests/unit/store/io.spec.js
  tests/unit/store/state.spec.js
  tests/unit/utils.js
  tools/testOnly.sh
Due: deploy-prod

change node.js version 10 to 12
  .github/workflows/firestore.yaml
  .github/workflows/functions.yaml
  .github/workflows/storage.yaml
  .github/workflows/ui.yaml
  functions/package.json
  functions/yarn.lock
  package.json
  src/auth/index.js
  src/auth/providers.js
  yarn.lock
Due: deploy-functions, deploy-prod

add unit test of src/auth
  src/App.vue
  src/auth/email.js
  src/auth/guard.js
  src/auth/index.js
  src/auth/init.js
  src/auth/localStrage.js
  src/auth/providers.js
  src/conf/defaults.js
  src/store/index.js
  tests/unit/auth/guard.spec.js
  tests/unit/auth/init.spec.js
  tests/unit/auth/localStraoge.spec.js
  tests/unit/auth/providers.spec.js
  tests/unit/utils.js
Due: deploy-prod

modify name of workflows
  .github/workflows/firestore.yaml
  .github/workflows/functions.yaml
  .github/workflows/storage.yaml
  .github/workflows/ui.yaml
Due: none

bug fix
  src/components/RawDataTree.vue
  src/pages/SignIn.vue
  src/parts/ChatGroupSelector.vue
Due: deploy-prod

bugfix, UI improvement
  src/conf/defaults.js
  src/conf/menuItems.js
  src/conf/routes.js
  src/pages/Chat.vue
  src/pages/Group.vue
  src/pages/Index.vue
  src/parts/ChatGroupSelector.vue
  src/parts/ChatSummary.vue
  src/parts/Chats.vue
  src/store/init.js
Due: deploy-prod

bugfix, UI improvement
  src/components/NotFound.vue
  src/conf/defaults.js
  src/conf/icons.js
  src/conf/menuItems.js
  src/conf/routes.js
  src/locales/en_US.json
  src/locales/ja_JP.json
  src/pages/Invitation.vue
  src/pages/Preferences.vue
  src/pages/Service.vue
  src/parts/SelectAuthProviders.vue
  src/store/accounts.js
  tests/unit/store/accounts.spec.js
Due: deploy-prod

bug fix
  functions/accounts.js
  functions/entries.js
  functions/guards.js
  functions/index.js
  functions/invitation.js
  functions/service.js
  tests/unit/functions/accounts.spec.js
  tests/unit/functions/entries.spec.js
  tests/unit/functions/invitation.spec.js
  tests/unit/functions/notification.spec.js
  tests/unit/functions/quards.spec.js
  tests/unit/functions/service.spec.js
  tests/unit/functions/utils.js
  tests/unit/utils.js
  tools/setupService.js
  tools/setupTestService.js
Due: deploy-functions

modify ui
  src/App.vue
  src/conf/icons.js
  src/conf/menuItems.js
  src/conf/routes.js
  src/locales/en_US.json
  src/locales/ja_JP.json
  src/pages/Admin.vue
  src/pages/Preferences.vue
  src/pages/Service.vue
  src/parts/admin/AdminSectionHeader.vue
  src/parts/admin/Authentication.vue
  src/parts/admin/Categories.vue
  src/parts/admin/Defaults.vue
  src/parts/admin/Invitation.vue
  src/parts/admin/Service.vue
  src/parts/admin/Users.vue
  src/store/accounts.js
  tests/unit/store/accounts.spec.js
Due: deploy-prod

modify ui
  src/pages/Index.vue
  src/pages/Invitation.vue
  src/pages/SignIn.vue
  src/parts/admin/AdminSectionHeader.vue
  src/parts/admin/CreateGroup.vue
  src/parts/admin/CreateUser.vue
  src/parts/admin/Users.vue
Due: deploy-prod

refactoring
  functions/yarn.lock
  jsconfig.json
  src/App.vue
  src/auth/email.js
  src/auth/invitation.js
  src/auth/providers.js
  src/components/RawDataTree.vue
  src/pages/Group.vue
  src/pages/Index.vue
  src/pages/Invitation.vue
  src/pages/Policy.vue
  src/pages/Preferences.vue
  src/pages/SignIn.vue
  src/pages/User.vue
  src/parts/Chats.vue
  src/parts/GroupsOfUser.vue
  src/parts/PermittedMembers.vue
  src/parts/Profile.vue
  src/parts/admin/Authentication.vue
  src/parts/admin/Categories.vue
  src/parts/admin/CreateGroup.vue
  src/parts/admin/CreateUser.vue
  src/parts/admin/Defaults.vue
  src/parts/admin/Invitation.vue
  src/parts/admin/Service.vue
  src/store/groups.js
  src/store/index.js
  src/store/init.js
  src/store/io.js
  src/store/messaging.js
  src/store/state.js
  tests/unit/auth/email.spec.js
  tests/unit/auth/invitation.spec.js
  tests/unit/auth/providers.spec.js
  tests/unit/store/io.spec.js
  tests/unit/store/messaging.spec.js
  tests/unit/store/state.spec.js
  yarn.lock
Due: deploy-functions, deploy-prod

refactoring
  firestore.rules
  src/conf/validators.js
  src/locales/en_US.json
  src/locales/ja_JP.json
  src/pages/Admin.vue
  src/pages/Index.vue
  src/pages/Policy.vue
  src/parts/Chats.vue
  src/parts/GroupsOfUser.vue
  src/parts/SelectAuthProviders.vue
  src/parts/admin/AdminSectionHeader.vue
  src/parts/admin/Authentication.vue
  src/parts/admin/CreateGroup.vue
  src/parts/admin/CreateUser.vue
  src/parts/admin/Defaults.vue
  src/parts/admin/Invitation.vue
  src/parts/admin/Service.vue
  src/parts/admin/Users.vue
  src/store/init.js
  src/store/messaging.js
  src/store/state.js
  src/store/ui.js
  tests/unit/store/messaging.spec.js
  tests/unit/store/state.spec.js
  tests/unit/store/ui.spec.js
Due: deploy-firestore, deploy-prod

add contact chat
  firestore.rules
  src/conf/icons.js
  src/conf/menuItems.js
  src/locales/en_US.json
  src/locales/ja_JP.json
  src/pages/Invitation.vue
  src/pages/User.vue
  src/parts/ChatTimeline.vue
  src/parts/Chats.vue
  src/parts/GroupsOfUser.vue
  src/parts/admin/Users.vue
  src/store/state.js
  tests/unit/store/state.spec.js
Due: deploy-firestore, deploy-prod

bug fix
  jest.config.js
  src/App.vue
  src/parts/Profile.vue
  src/store/index.js
  src/store/state.js
  tests/unit/store/state.spec.js
Due: deploy-prod

refactoring
  src/App.vue
  src/auth/guard.js
  src/conf/menuItems.js
  src/pages/Preferences.vue
  src/pages/User.vue
  src/parts/ChatTimeline.vue
  src/parts/Chats.vue
  src/parts/FormWithConfirmatioin.vue
  src/store/accounts.js
  src/store/firestore.js
  src/store/init.js
  src/store/state.js
  src/store/ui.js
  tests/unit/store/accounts.spec.js
  tests/unit/store/firestore.spec.js
  tests/unit/store/init.spec.js
  tests/unit/store/ui.spec.js
Due: deploy-prod

bug fix
  src/App.vue
  src/auth/guard.js
  src/auth/index.js
  src/components/PageTitle.vue
  src/pages/Admin.vue
  src/pages/Group.vue
  src/pages/SignIn.vue
  src/pages/User.vue
  src/parts/Chats.vue
  src/parts/admin/Users.vue
  src/store/index.js
  src/store/init.js
  src/store/state.js
  tests/unit/auth/guard.spec.js
  tests/unit/store/init.spec.js
Due: deploy-prod

refactoring
  firestore.rules
  src/pages/Group.vue
  src/pages/Index.vue
  src/pages/Policy.vue
  tools/setupTestService.js
Due: deploy-firestore, deploy-prod

bug fix
  src/App.vue
  src/auth/guard.js
  src/pages/Admin.vue
  src/pages/Group.vue
  src/pages/Index.vue
  src/pages/Invitation.vue
  src/pages/User.vue
  src/parts/PermittedMembers.vue
  src/parts/Profile.vue
  src/store/state.js
  tests/unit/auth/guard.spec.js
  tests/unit/store/state.spec.js
Due: deploy-prod

bug fix
  src/auth/init.js
  tests/unit/auth/init.spec.js
Due: deploy-prod

bug fix
  src/auth/init.js
Due: deploy-prod

add profile addresses items
  functions/initialData.js
  src/components/EditableItem.vue
  src/conf/locales.js
  src/conf/theme.js
  src/conf/validators.js
  src/locales/en_US.json
  src/locales/ja_JP.json
  src/pages/Admin.vue
  src/pages/Group.vue
  src/pages/Index.vue
  src/pages/User.vue
  src/parts/Profile.vue
  src/parts/admin/Account.vue
  src/parts/admin/AdminSectionHeader.vue
  src/parts/admin/Service.vue
  src/parts/admin/Users.vue
Due: deploy-functions, deploy-prod

bug fix
  src/components/EditableItem.vue
  src/parts/PermittedMembers.vue
  src/parts/Profile.vue
  src/store/firestore.js
Due: deploy-prod

bug fix
  src/parts/PermittedMembers.vue
  src/parts/Profile.vue
Due: deploy-prod

for coverage
  src/store/firestore.js
  tests/unit/store/firestore.spec.js
Due: deploy-prod

for test
  functions/entries.js
  functions/index.js
  functions/profiles.js
  src/pages/User.vue
  src/parts/Profile.vue
  src/store/firestore.js
  src/store/index.js
  tests/unit/functions/entries.spec.js
  tests/unit/functions/profiles.spec.js
Due: deploy-functions, deploy-prod

bug fix
  src/App.vue
Due: deploy-prod

bug fix
  .github/workflows/ui.yaml
Due: none

Path conditions:
  deploy-storage: any of: storage.rules
  deploy-firestore: any of: firestore.indexes.json, firestore.rules
  deploy-functions: any of: functions/**/*
  deploy-prod: any of: src/**/*, src-pwa/**/*, package.json, yarn.lock, quasar.conf.js, babel.config.js, firebase.json
