Repository MichinobuMaeda/tamurodemo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-storage, deploy-firestore, deploy-functions, deploy-prod

deploy-storage:
  stage: deploy
  script:
  - cd functions && npm i && cd ..
  - firebase use $PROJECT_ID --token $FIREBASE_TOKEN
  - firebase deploy --only storage -m "Pipe $CI_PIPELINE_ID Build $CI_BUILD_ID @ Hash ${CI_COMMIT_SHA:0:7}" --token $FIREBASE_TOKEN

deploy-firestore:
  stage: deploy
  script:
  - cd functions && npm i && cd ..
  - firebase use $PROJECT_ID --token $FIREBASE_TOKEN
  - firebase deploy --only firestore -m "Pipe $CI_PIPELINE_ID Build $CI_BUILD_ID @ Hash ${CI_COMMIT_SHA:0:7}" --token $FIREBASE_TOKEN

deploy-functions:
  stage: deploy
  script:
  - cd functions && npm i && cd ..
  - firebase use $PROJECT_ID --token $FIREBASE_TOKEN
  - firebase deploy --only functions -m "Pipe $CI_PIPELINE_ID Build $CI_BUILD_ID @ Hash ${CI_COMMIT_SHA:0:7}" --token $FIREBASE_TOKEN

deploy-prod:
  stage: deploy
  script:
  - yarn
  - node ./tools/setFirebaseConfig.js
  - yarn run build
  - firebase use $PROJECT_ID --token $FIREBASE_TOKEN
  - firebase deploy --only hosting -m "Pipe $CI_PIPELINE_ID Build $CI_BUILD_ID @ Hash ${CI_COMMIT_SHA:0:7}" --token $FIREBASE_TOKEN

unit tests cover getters.js
  src/store/getters.js
  tests/unit/state.spec.js
Due: deploy-prod

refactoring
  functions/index.js
Due: deploy-functions

add CI / CD setupService script.
  .gitlab-ci.yml
  functions/index.js
  tools/setupService.js
Due: deploy-functions

fix ci problem
  .gitlab-ci.yml
Due: none

add markdown privacy policy
  functions/index.js
  package.json
  src/pages/PrivacyPolicy.vue
  yarn.lock
Due: deploy-functions, deploy-prod

add markdown privacy policy
  src-pwa/pwa-flag.d.ts
  src/pages/PrivacyPolicy.vue
  src/store/store-flag.d.ts
Due: deploy-prod

set functions config
  .gitignore
  tests/unit/setEnvVars.js
Due: none

set functions config
  README.md
  firebase.json
  functions/index.js
  package.json
  tests/unit/functions.spec.js
  yarn.lock
Due: deploy-functions, deploy-prod

add test of HTTP API
  .gitignore
  .gitlab-ci.yml
  README.md
  functions/index.js
  functions/package-lock.json
  functions/package.json
  package.json
  tests/unit/functions.spec.js
  tests/unit/http_api.spec.js
  yarn.lock
Due: deploy-functions, deploy-prod

working
  src/components/HelloWorld.vue
  src/locales/ja_JP.json
  src/views/About.vue
  src/views/Home.vue
Due: deploy-prod

upgrade packages
  functions/yarn.lock
  yarn.lock
Due: deploy-functions, deploy-prod

Setup service
  .gitignore
  README.md
  functions/package.json
  functions/preDeploy.js
  functions/yarn.lock
  package.json
  src/plugins/firebase.js
  src/store/version-development.js
  tools/setupService.js
  yarn.lock
Due: deploy-functions, deploy-prod

refactor route & menu
  README.md
  firestore.rules
  functions/preDeploy.js
  src/App.vue
  src/assets/.gitkeep
  src/assets/logo.png
  src/assets/logo.svg
  src/components/Loading.vue
  src/components/Menu.vue
  src/locales/en_US.json
  src/locales/ja_JP.json
  src/plugins/composition-api.js
  src/plugins/firebase.js
  src/plugins/vuetify.js
  src/router/guard.js
  src/router/index.js
  src/router/routes.js
  src/store/auth.js
  src/store/index.js
  src/store/init.js
  src/store/menuItems.js
  src/store/service.js
  src/store/ui.js
  src/store/utils.js
  src/views/Policy.vue
  src/views/RawData.vue
  src/views/SignIn.vue
  tools/setupService.js
  yarn.lock
Due: deploy-firestore, deploy-functions, deploy-prod

refactoring: menu, colors, icons
  functions/preDeploy.js
  src/App.vue
  src/components/Loading.vue
  src/components/Menu.vue
  src/components/PageTitle.vue
  src/locales/en_US.json
  src/locales/ja_JP.json
  src/store/colors.js
  src/store/icons.js
  src/store/index.js
  src/store/init.js
  src/store/menuItems.js
  src/store/ui.js
  src/views/Index.vue
  src/views/Policy.vue
  src/views/RawData.vue
  src/views/SignIn.vue
Due: deploy-functions, deploy-prod

add markdown parser for privacy policy
  package.json
  src/App.vue
  src/router/guard.js
  src/store/menuItems.js
  src/store/service.js
  src/store/ui.js
  src/store/utils.js
  src/views/Policy.vue
  yarn.lock
Due: deploy-prod

sign-in / sign-out
  functions/accounts.js
  functions/preDeploy.js
  src/App.vue
  src/components/ButtonNegative.vue
  src/components/ButtonPrimary.vue
  src/components/ButtonSecondary.vue
  src/components/LinkButton.vue
  src/components/Markdown.vue
  src/components/Menu.vue
  src/locales/en_US.json
  src/locales/ja_JP.json
  src/plugins/composition-api.js
  src/router/guard.js
  src/router/index.js
  src/router/routes.js
  src/store/auth.js
  src/store/icons.js
  src/store/init.js
  src/store/menuItems.js
  src/store/utils.js
  src/views/Index.vue
  src/views/MyProfile.vue
  src/views/Policy.vue
  src/views/RawData.vue
  src/views/SignIn.vue
  tools/setupService.js
Due: deploy-functions, deploy-prod

GitHub Actions test.
  .github/workflows/firebase.yaml
Due: none

GitHub Actions test.
  .github/workflows/ui.yaml
Due: none

GitHub Actions test.
  .github/workflows/firebase.yaml
  .github/workflows/ui.yaml
  vue.config.js
Due: none

GitHub Actions test.
  .github/workflows/firebase.yaml
  functions/yarn.lock
  yarn.lock
Due: deploy-functions, deploy-prod

update app
  .github/workflows/firebase.yaml
  .gitignore
  README.md
  functions/index.js
  functions/service.js
  package.json
  src/App.vue
  src/components/AppUpdater.vue
  src/components/ButtonNegative.vue
  src/components/ButtonPrimary.vue
  src/components/ButtonSecondary.vue
  src/components/Loading.vue
  src/components/Markdown.vue
  src/components/Menu.vue
  src/components/RawDataTree.vue
  src/locales/en_US.json
  src/locales/ja_JP.json
  src/router/routes.js
  src/sass/index.scss
  src/sass/markdown.scss
  src/store/colors.js
  src/store/icons.js
  src/store/menuItems.js
  src/store/service.js
  src/store/utils.js
  src/views/Me.vue
  src/views/RawData.vue
  src/views/Service.vue
  tools/resetTestVersion.js
  tools/setTestVersion.js
  tools/setupService.js
  tools/updateUiVersion.js
  yarn.lock
Due: deploy-functions, deploy-prod

bug fix: ci/cd
  .github/workflows/firebase.yaml
Due: none

CI/CD test
  .github/workflows/firebase.yaml
  .github/workflows/firestore.yaml
  .github/workflows/functions.yaml
  .github/workflows/storage.yaml
  .github/workflows/ui.yaml
Due: none

bug fix: ui version
  .firebase/hosting.ZGlzdA.cache
  .github/workflows/functions.yaml
  .github/workflows/ui.yaml
  functions/package.json
  functions/service.js
  functions/yarn.lock
  tools/resetTestVersion.js
  tools/setTestVersion.js
Due: deploy-functions

bug fix
  functions/package.json
  functions/yarn.lock
Due: deploy-functions

bug fix
  .github/workflows/functions.yaml
  functions/package.json
  functions/yarn.lock
Due: deploy-functions

bug fix
  functions/service.js
Due: deploy-functions

test ci/cd use my docker image
  .github/workflows/ui.yaml
  src/views/Service.vue
Due: deploy-prod

test ci/cd use local firebase command
  .github/workflows/firestore.yaml
  .github/workflows/functions.yaml
  .github/workflows/storage.yaml
  .github/workflows/ui.yaml
  package.json
  yarn.lock
Due: deploy-prod

service settings editro
  functions/service.js
  src/App.vue
  src/components/ButtonBase.vue
  src/components/ButtonNegative.vue
  src/components/ButtonPrimary.vue
  src/components/ButtonSecondary.vue
  src/components/LinkButton.vue
  src/components/Markdown.vue
  src/components/Menu.vue
  src/components/RawDataTree.vue
  src/components/RichText.vue
  src/conf/colors.js
  src/conf/icons.js
  src/conf/locales.js
  src/conf/timezones.js
  src/locales/en_US.json
  src/locales/ja_JP.json
  src/router/routes.js
  src/store/index.js
  src/store/init.js
  src/store/menuItems.js
  src/store/service.js
  src/store/ui.js
  src/views/Me.vue
  src/views/Policy.vue
  src/views/RawData.vue
  src/views/Service.vue
  src/views/SignIn.vue
Due: deploy-functions, deploy-prod

to edit service
  src/App.vue
  src/components/EditableRichText.vue
  src/components/EditableSelect.vue
  src/components/EditableText.vue
  src/components/MiniButton.vue
  src/conf/icons.js
  src/conf/menuPositions.js
  src/locales/en_US.json
  src/locales/ja_JP.json
  src/store/auth.js
  src/store/index.js
  src/store/init.js
  src/store/users.js
  src/store/validators.js
  src/views/Policy.vue
  src/views/Service.vue
Due: deploy-prod

refactoring
  .github/workflows/ui.yaml
  .gitignore
  src/App.vue
  src/components/RawDataTree.vue
  src/conf/colors.js
  src/conf/icons.js
  src/conf/locales.js
  src/conf/menuPositions.js
  src/conf/timezones.js
  src/conf/validators.js
  src/helpers.js
  src/init.js
  src/main.js
  src/plugins/composition-api.js
  src/router/guard.js
  src/router/menuItems.js
  src/store/auth.js
  src/store/index.js
  src/store/init.js
  src/store/menuItems.js
  src/store/service.js
  src/store/ui.js
  src/store/users.js
  src/store/utils.js
  src/views/Index.vue
  src/views/Me.vue
  src/views/Policy.vue
  src/views/Service.vue
  src/views/SignIn.vue
  tools/resetTestVersion.js
  tools/setTestVersion.js
Due: deploy-prod

Path conditions:
  deploy-storage: any of: storage.rules
  deploy-firestore: any of: firestore.indexes.json, firestore.rules
  deploy-functions: any of: functions/**/*
  deploy-prod: any of: src/**/*, src-pwa/**/*, package.json, yarn.lock, quasar.conf.js, babel.config.js, firebase.json
