Repository MichinobuMaeda/tamurodemo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-storage, deploy-firestore, deploy-functions, deploy-prod

.gitlab-ci.yml:

image: rambabusaravanan/firebase

stages:
  - deploy

cache:
  paths:
    - node_modules/
    - functions/node_modules/
  key: ${CI_COMMIT_REF_SLUG}

before_script:
  - npm install -g firebase-tools@latest
  - npm install -g firebase-functions@latest
  - cd functions && npm i && cd ..
  - yarn
  - firebase use $PROJECT_ID --token $FIREBASE_TOKEN
  - firebase functions:config:get --token $FIREBASE_TOKEN > functions/.runtimeconfig.json

deploy-storage:
  stage: deploy
  only:
    refs:
      - master
    changes:
      - storage.rules
  script:
    - firebase deploy --only storage -m "Pipe $CI_PIPELINE_ID Build $CI_BUILD_ID @ Hash ${CI_COMMIT_SHA:0:7}" --token $FIREBASE_TOKEN

deploy-firestore:
  stage: deploy
  only:
    refs:
      - master
    changes:
      - firestore.indexes.json
      - firestore.rules
  script:
    - firebase deploy --only firestore -m "Pipe $CI_PIPELINE_ID Build $CI_BUILD_ID @ Hash ${CI_COMMIT_SHA:0:7}" --token $FIREBASE_TOKEN

deploy-functions:
  stage: deploy
  only:
    refs:
      - master
    changes:
      - functions/**/*
  script:
    - firebase deploy --only functions -m "Pipe $CI_PIPELINE_ID Build $CI_BUILD_ID @ Hash ${CI_COMMIT_SHA:0:7}" --token $FIREBASE_TOKEN
    - node ./tools/setupService.js

deploy-prod:
  stage: deploy
  only:
    refs:
      - master
    changes:
      - src/**/*
      - src-pwa/**/*
      - package.json
      - yarn.lock
      - quasar.conf.js
      - babel.config.js
      - firebase.json
  script:
    - node ./tools/setFirebaseConfig.js
    - node ./tools/updateVersion.js
    - yarn run test
    - yarn run build
    - firebase deploy --only hosting -m "Pipe $CI_PIPELINE_ID Build $CI_BUILD_ID @ Hash ${CI_COMMIT_SHA:0:7}" --token $FIREBASE_TOKEN
    - node ./tools/updateUiVersion.js

bug fix
  src/App.vue
Due: deploy-prod

refactoring
  firestore.rules
  functions/service.js
  src/components/EditableRichText.vue
  src/components/EditableSelect.vue
  src/components/EditableText.vue
  src/components/PageTitle.vue
  src/components/helper.js
  src/conf/colors.js
  src/conf/icons.js
  src/helpers.js
  src/init.js
  src/locales/en_US.json
  src/locales/ja_JP.json
  src/router/menuItems.js
  src/router/routes.js
  src/sass/index.scss
  src/sass/markdown.scss
  src/sass/richtext.scss
  src/sass/vuetify.scss
  src/views/Categories.vue
  src/views/Index.vue
  src/views/Me.vue
  src/views/Policy.vue
  src/views/Service.vue
  src/views/SignIn.vue
Due: deploy-firestore, deploy-functions, deploy-prod

customize default theme
  functions/service.js
  src/App.vue
  src/components/AppUpdater.vue
  src/components/EditableSwitch.vue
  src/components/Menu.vue
  src/components/RawDataTree.vue
  src/conf/colors.js
  src/conf/icons.js
  src/conf/menuPositions.js
  src/conf/theme.js
  src/helpers.js
  src/init.js
  src/locales/en_US.json
  src/locales/ja_JP.json
  src/plugins/vuetify.js
  src/styles/index.scss
  src/styles/richtext.scss
  src/styles/variables.scss
  src/styles/vuetify.scss
  src/views/Categories.vue
  src/views/Index.vue
  src/views/Me.vue
  src/views/Policy.vue
  src/views/Service.vue
  src/views/SignIn.vue
Due: deploy-functions, deploy-prod

refactoring
  src/components/EditableRichText.vue
  src/components/EditableSelect.vue
  src/components/EditableSwitch.vue
  src/components/EditableText.vue
  src/components/helpers.js
  src/styles/variables.scss
  src/styles/vuetify.scss
Due: deploy-prod

refactoring
  firestore.rules
  functions/service.js
  functions/yarn.lock
  src/App.vue
  src/components/ButtonBase.vue
  src/components/EditableItem.vue
  src/components/LinkButton.vue
  src/components/PageTitle.vue
  src/components/RawDataTree.vue
  src/components/defaults.js
  src/conf/icons.js
  src/conf/theme.js
  src/helpers.js
  src/locales/en_US.json
  src/locales/ja_JP.json
  src/router/routes.js
  src/styles/index.scss
  src/styles/richtext.scss
  src/styles/variables.scss
  src/views/Categories.vue
  src/views/Group.vue
  src/views/Index.vue
  src/views/Me.vue
  src/views/Policy.vue
  src/views/Service.vue
  yarn.lock
Due: deploy-firestore, deploy-functions, deploy-prod

add eslint
  .editorconfig
  README.md
  firebase.json
  functions/index.js
  package.json
  src/App.vue
  src/components/EditableItem.vue
  src/components/Menu.vue
  src/components/MiniButton.vue
  src/components/RawDataTree.vue
  src/components/defaults.js
  src/conf/icons.js
  src/helpers.js
  src/init.js
  src/main.js
  src/plugins/firebase.js
  src/router/menuItems.js
  src/views/Categories.vue
  src/views/Group.vue
  src/views/Index.vue
  src/views/Me.vue
  src/views/Service.vue
  vue.config.js
  yarn.lock
Due: deploy-functions, deploy-prod

bug fix
  .github/workflows/ui.yaml
  functions/index.js
  functions/package.json
  src/conf/validators.js
  src/plugins/firebase.js
  src/views/Index.vue
  src/views/Service.vue
  tools/setupService.js
Due: deploy-functions, deploy-prod

bug fix
  .github/workflows/ui.yaml
Due: none

api rewrite test
  firebase.json
Due: deploy-prod

api rewrite test
  firebase.json
  functions/index.js
Due: deploy-functions, deploy-prod

bug fix
  .firebase/hosting.ZGlzdA.cache
  .github/workflows/ui.yaml
  .gitignore
  firebase.json
  functions/index.js
  src/router/menuItems.js
  src/views/Service.vue
Due: deploy-functions, deploy-prod

bug fix
  functions/api.js
  functions/index.js
  functions/service.js
  package.json
  src/helpers.js
  src/init.js
  src/router/guard.js
  src/views/Index.vue
  tools/setupTestService.js
  yarn.lock
Due: deploy-functions, deploy-prod

group create / update / delete / restore
  functions/accounts.js
  src/App.vue
  src/components/EditableItem.vue
  src/components/PageTitle.vue
  src/conf/theme.js
  src/init.js
  src/locales/en_US.json
  src/locales/ja_JP.json
  src/plugins/firebase.js
  src/router/guard.js
  src/router/menuItems.js
  src/views/Categories.vue
  src/views/CreateGroup.vue
  src/views/DeleteGroup.vue
  src/views/Group.vue
  src/views/Index.vue
  src/views/Me.vue
  src/views/Policy.vue
  src/views/RestoreGroup.vue
  src/views/Service.vue
  src/views/SignIn.vue
Due: deploy-functions, deploy-prod

add profile
  src/App.vue
  src/components/AppUpdater.vue
  src/components/ButtonBase.vue
  src/components/ButtonNegative.vue
  src/components/ButtonPrimary.vue
  src/components/ConfirmButton.vue
  src/components/DefaultButton.vue
  src/components/EditableItem.vue
  src/components/LinkButton.vue
  src/components/Menu.vue
  src/components/defaults.js
  src/conf/icons.js
  src/conf/permissions.js
  src/helpers.js
  src/init.js
  src/locales/en_US.json
  src/locales/ja_JP.json
  src/router/menuItems.js
  src/router/routes.js
  src/views/Categories.vue
  src/views/CreateGroup.vue
  src/views/DeleteGroup.vue
  src/views/Group.vue
  src/views/GroupsOfUser.vue
  src/views/Index.vue
  src/views/Me.vue
  src/views/PermittedMembers.vue
  src/views/Policy.vue
  src/views/Preferences.vue
  src/views/Profile.vue
  src/views/RestoreGroup.vue
  src/views/Service.vue
  src/views/SignIn.vue
  src/views/User.vue
  src/views/Users.vue
Due: deploy-prod

inprove UI
  src/App.vue
  src/components/DefaultButton.vue
  src/components/PageTitle.vue
  src/components/RawDataTree.vue
  src/conf/theme.js
  src/init.js
  src/locales/en_US.json
  src/locales/ja_JP.json
  src/styles/customize.scss
  src/styles/index.scss
  src/styles/richtext.scss
  src/styles/variables.scss
  src/views/Categories.vue
  src/views/Group.vue
  src/views/Index.vue
  src/views/Policy.vue
  src/views/Profile.vue
  src/views/User.vue
Due: deploy-prod

Create user
  functions/accounts.js
  functions/index.js
  functions/service.js
  functions/yarn.lock
  src/App.vue
  src/components/RawDataTree.vue
  src/conf/icons.js
  src/init.js
  src/locales/en_US.json
  src/locales/ja_JP.json
  src/router/menuItems.js
  src/views/CreateUser.vue
  src/views/Preferences.vue
  src/views/User.vue
  src/views/Users.vue
  tools/setupService.js
  tools/setupTestService.js
  yarn.lock
Due: deploy-functions, deploy-prod

add preferences to change e-mail or password
  src/conf/icons.js
  src/init.js
  src/locales/en_US.json
  src/locales/ja_JP.json
  src/views/Preferences.vue
  src/views/SignIn.vue
Due: deploy-prod

change style of 'Raw data'
  src/styles/customize.scss
Due: deploy-prod

add oauth sign-in
  README.md
  functions/accounts.js
  functions/package.json
  functions/service.js
  functions/yarn.lock
  src/App.vue
  src/auth.js
  src/components/ConfirmButton.vue
  src/components/EditableItem.vue
  src/components/defaults.js
  src/conf/icons.js
  src/conf/theme.js
  src/helpers.js
  src/locales/en_US.json
  src/locales/ja_JP.json
  src/router/menuItems.js
  src/router/routes.js
  src/views/Preferences.vue
  src/views/Service.vue
  src/views/SignIn.vue
Due: deploy-functions, deploy-prod

test: invitation
  README.md
  firebase.json
  functions/accounts.js
  functions/api.js
  functions/auth.js
  functions/guard.js
  functions/index.js
  functions/service.js
  src/auth.js
  src/conf/icons.js
  src/init.js
  src/locales/en_US.json
  src/locales/ja_JP.json
  src/views/Preferences.vue
  src/views/Profile.vue
  src/views/SignIn.vue
  src/views/User.vue
  src/views/Users.vue
  tools/setupService.js
Due: deploy-functions, deploy-prod

bug fix
  functions/service.js
Due: deploy-functions

bug fix
  firebase.json
  src/views/User.vue
Due: deploy-prod

refactoring
  functions/accounts.js
  functions/api.js
  functions/auth.js
  functions/guard.js
  functions/index.js
  functions/package.json
  functions/service.js
  functions/utils.js
  functions/yarn.lock
Due: deploy-functions

inprove UI
  functions/auth.js
  functions/index.js
  functions/service.js
  functions/utils.js
  src/App.vue
  src/auth.js
  src/components/EditableItem.vue
  src/components/Menu.vue
  src/components/PageTitle.vue
  src/conf/icons.js
  src/conf/theme.js
  src/helpers.js
  src/init.js
  src/locales/en_US.json
  src/locales/ja_JP.json
  src/router/guard.js
  src/router/menuItems.js
  src/router/routes.js
  src/views/Group.vue
  src/views/GroupsOfUser.vue
  src/views/Index.vue
  src/views/Invitation.vue
  src/views/PermittedMembers.vue
  src/views/Policy.vue
  src/views/Preferences.vue
  src/views/Profile.vue
  src/views/SelectAuthProviders.vue
  src/views/Service.vue
  src/views/User.vue
  src/views/Users.vue
  tools/setupService.js
  tools/setupTestService.js
Due: deploy-functions, deploy-prod

add Invitation page
  src/locales/en_US.json
  src/locales/ja_JP.json
  src/pages/Categories.vue
  src/pages/Group.vue
  src/pages/Index.vue
  src/pages/Invitation.vue
  src/pages/Policy.vue
  src/pages/Preferences.vue
  src/pages/Profile.vue
  src/pages/Service.vue
  src/pages/SignIn.vue
  src/pages/User.vue
  src/pages/Users.vue
  src/parts/CreateGroup.vue
  src/parts/CreateUser.vue
  src/parts/GroupsOfUser.vue
  src/parts/PermittedMembers.vue
  src/parts/SelectAuthProviders.vue
  src/router/routes.js
  src/views/Invitation.vue
  yarn.lock
Due: deploy-prod

add unit test: functions
  .github/workflows/firestore.yaml
  .github/workflows/functions.yaml
  .github/workflows/storage.yaml
  .github/workflows/ui.yaml
  .gitignore
  README.md
  docs/conf.md
  docs/firebase.md
  docs/vue.md
  firebase.json
  functions/accounts.js
  functions/auth.js
  functions/index.js
  functions/jest.config.js
  functions/package.json
  functions/tests/unit/accounts.spec.js
  functions/tests/unit/auth.spec.js
  functions/tests/unit/service.spec.js
  functions/tests/unit/utils.js
  functions/yarn.lock
  src/locales/en_US.json
  src/locales/ja_JP.json
  src/pages/Invitation.vue
  src/pages/Preferences.vue
  src/pages/SignIn.vue
Due: deploy-functions, deploy-prod

bug fix
  .github/workflows/functions.yaml
Due: none

bug fix
  .github/workflows/firestore.yaml
  .github/workflows/functions.yaml
  .github/workflows/storage.yaml
  .github/workflows/ui.yaml
Due: none

functions: add unit tests for coverage 100%
  .github/workflows/functions.yaml
  functions/api.js
  functions/entries.js
  functions/guards.js
  functions/index.js
  functions/jest.config.js
  functions/package.json
  functions/tests/unit/accounts.spec.js
  functions/tests/unit/api.spec.js
  functions/tests/unit/auth.spec.js
  functions/tests/unit/entries.spec.js
  functions/tests/unit/index.spec.js
  functions/tests/unit/quards.spec.js
  functions/tests/unit/service.spec.js
  functions/tests/unit/utils.js
  functions/utils.js
  functions/yarn.lock
Due: deploy-functions

refactoring
  .github/workflows/ui.yaml
  functions/tests/unit/entries.spec.js
  src/App.vue
  src/auth.js
  src/conf/defaults.js
  src/conf/index.js
  src/conf/locales.js
  src/conf/routes.js
  src/conf/validators.js
  src/helpers.js
  src/init.js
  src/main.js
  src/pages/Categories.vue
  src/pages/Group.vue
  src/pages/Index.vue
  src/pages/Invitation.vue
  src/pages/Policy.vue
  src/pages/Preferences.vue
  src/pages/Service.vue
  src/pages/SignIn.vue
  src/pages/User.vue
  src/pages/Users.vue
  src/parts/CreateGroup.vue
  src/parts/CreateUser.vue
  src/parts/GroupsOfUser.vue
  src/parts/PermittedMembers.vue
  src/parts/Profile.vue
  src/parts/SelectAuthProviders.vue
  src/plugins/firebase.js
  src/plugins/router.js
  src/plugins/vuetify.js
  src/router/guard.js
  src/router/menuItems.js
  src/store/index.js
  src/store/menuItems.js
  src/store/state.js
  src/utils.js
Due: deploy-functions, deploy-prod

reject create user in Authentication, recreate user in Authentication
  .github/workflows/functions.yaml
  functions/accounts.js
  functions/auth.js
  functions/entries.js
  functions/guards.js
  functions/index.js
  functions/package.json
  functions/tests/unit/accounts.spec.js
  functions/tests/unit/entries.spec.js
  functions/tests/unit/index.spec.js
  functions/tests/unit/utils.js
  src/auth.js
  src/conf/icons.js
  src/locales/en_US.json
  src/locales/ja_JP.json
  src/pages/Invitation.vue
  src/pages/User.vue
  src/parts/CreateGroup.vue
  src/parts/CreateUser.vue
  src/utils.js
Due: deploy-functions, deploy-prod

bug fix
  .github/workflows/functions.yaml
  .github/workflows/ui.yaml
Due: none

Change coverage service coveralls to codecov
  .github/workflows/functions.yaml
  functions/package.json
  functions/yarn.lock
Due: deploy-functions

refactoring
  functions/accounts.js
  functions/entries.js
  functions/invitation.js
  functions/tests/unit/invitation.spec.js
  package.json
  src/App.vue
  src/auth.js
  src/auth/admin.js
  src/auth/email.js
  src/auth/index.js
  src/auth/init.js
  src/auth/invitation.js
  src/auth/providers.js
  src/components/ConfirmButton.vue
  src/conf/index.js
  src/conf/menuItems.js
  src/conf/site.js
  src/pages/Categories.vue
  src/pages/Group.vue
  src/pages/Index.vue
  src/pages/Invitation.vue
  src/pages/Policy.vue
  src/pages/Preferences.vue
  src/pages/Service.vue
  src/pages/SignIn.vue
  src/pages/User.vue
  src/pages/Users.vue
  src/parts/CreateGroup.vue
  src/parts/CreateUser.vue
  src/parts/GroupsOfUser.vue
  src/parts/PermittedMembers.vue
  src/parts/Profile.vue
  src/parts/SelectAuthProviders.vue
  src/plugins/router.js
  src/store/db.js
  src/store/index.js
  src/store/state.js
  src/store/utils.js
  src/utils.js
  yarn.lock
Due: deploy-functions, deploy-prod

bug fix
  package.json
Due: deploy-prod

refactoring
  functions/jest.config.js
  functions/tests/unit/index.spec.js
  jest.config.js
  package.json
  tests/unit/auth/admin.spec.js
  tests/unit/example.spec.js
  tests/unit/utils.js
  yarn.lock
Due: deploy-functions, deploy-prod
