Repository MichinobuMaeda/tamurodemo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-storage, deploy-firestore, deploy-functions, deploy-prod

.gitlab-ci.yml:

image: rambabusaravanan/firebase

stages:
  - deploy

cache:
  paths:
    - node_modules/
    - functions/node_modules/
  key: ${CI_COMMIT_REF_SLUG}

before_script:
  - npm install -g firebase-tools@latest
  - npm install -g firebase-functions@latest
  - cd functions && npm i && cd ..
  - yarn
  - firebase use $PROJECT_ID --token $FIREBASE_TOKEN
  - firebase functions:config:get --token $FIREBASE_TOKEN > functions/.runtimeconfig.json

deploy-storage:
  stage: deploy
  only:
    refs:
      - master
    changes:
      - storage.rules
  script:
    - firebase deploy --only storage -m "Pipe $CI_PIPELINE_ID Build $CI_BUILD_ID @ Hash ${CI_COMMIT_SHA:0:7}" --token $FIREBASE_TOKEN

deploy-firestore:
  stage: deploy
  only:
    refs:
      - master
    changes:
      - firestore.indexes.json
      - firestore.rules
  script:
    - firebase deploy --only firestore -m "Pipe $CI_PIPELINE_ID Build $CI_BUILD_ID @ Hash ${CI_COMMIT_SHA:0:7}" --token $FIREBASE_TOKEN

deploy-functions:
  stage: deploy
  only:
    refs:
      - master
    changes:
      - functions/**/*
  script:
    - firebase deploy --only functions -m "Pipe $CI_PIPELINE_ID Build $CI_BUILD_ID @ Hash ${CI_COMMIT_SHA:0:7}" --token $FIREBASE_TOKEN
    - node ./tools/setupService.js

deploy-prod:
  stage: deploy
  only:
    refs:
      - master
    changes:
      - src/**/*
      - src-pwa/**/*
      - package.json
      - yarn.lock
      - quasar.conf.js
      - babel.config.js
      - firebase.json
  script:
    - node ./tools/setFirebaseConfig.js
    - node ./tools/updateVersion.js
    - yarn run test
    - yarn run build
    - firebase deploy --only hosting -m "Pipe $CI_PIPELINE_ID Build $CI_BUILD_ID @ Hash ${CI_COMMIT_SHA:0:7}" --token $FIREBASE_TOKEN
    - node ./tools/updateUiVersion.js

bug fix
  .github/workflows/ui.yaml
Due: none

change firebase project to 'tamuro01'
  .editorconfig
  .firebaserc
  .github/workflows/firestore.yaml
  .github/workflows/functions.yaml
  .github/workflows/storage.yaml
  .github/workflows/ui.yaml
  .gitignore
  docs/conf.md
  docs/dev.md
  docs/firebase.md
  firestore.rules
  functions/initialData.js
  public/firebase-messaging-sw.js
  src/plugins/firebase.js
  tests/unit/_testUtils.js
  tests/unit/functions/_testUtils.js
  tools/setupTestService.js
  yarn.lock
Due: deploy-firestore, deploy-functions, deploy-prod

bug fix
  src/conf/site.js
  tools/env.js
Due: deploy-prod

add prefix to backup files
  tools/backup.js
  tools/env.js
  tools/listStorage.js
  tools/restore.js
Due: none

refactoring
  tools/env.js
Due: none

bug fix
  package.json
  src/auth/invitation.js
  src/components/EditableItem.vue
  src/parts/admin/Account.vue
  src/store/state.js
  tools/setupService.js
  yarn.lock
Due: deploy-prod

bug fix
  src/locales/ja_JP.json
  src/parts/admin/Account.vue
Due: deploy-prod

bug fix
  tests/unit/auth/invitation.spec.js
  tests/unit/store/state.spec.js
  tools/testOnly.sh
Due: none

bug fix
  src/auth/invitation.js
  src/parts/admin/Account.vue
  src/store/state.js
  tests/unit/auth/invitation.spec.js
  tests/unit/store/state.spec.js
Due: deploy-prod

bug fix
  functions/initialData.js
  functions/package.json
  functions/service.js
  functions/yarn.lock
  src/App.vue
  src/components/EditableItem.vue
  src/locales/en_US.json
  src/locales/ja_JP.json
  src/pages/Invitation.vue
Due: deploy-functions, deploy-prod

bug fix
  src/pages/Invitation.vue
Due: deploy-prod

improve UI
  src/App.vue
  src/components/Loading.vue
  src/locales/en_US.json
  src/locales/ja_JP.json
  src/pages/Invitation.vue
  src/pages/Preferences.vue
Due: deploy-prod

bug fix
  src/App.vue
  src/pages/Invitation.vue
Due: deploy-prod

bug fix
  src/App.vue
Due: deploy-prod

test to reject app install
  src/App.vue
  src/components/AppInstaller.vue
  src/locales/en_US.json
  src/locales/ja_JP.json
  src/pages/Preferences.vue
Due: deploy-prod

bug fix
  src/components/AppInstaller.vue
Due: deploy-prod

bug fix
  functions/profiles.js
  functions/utils.js
  src/store/profiles.js
  src/store/utils.js
  tests/unit/functions/entries.spec.js
  tests/unit/functions/profiles.spec.js
  tests/unit/functions/utils.spec.js
  tests/unit/store/profiles.spec.js
  tests/unit/store/utils.spec.js
  tools/restore.js
Due: deploy-functions, deploy-prod

bug fix
  src/App.vue
  src/components/RawDataTree.vue
Due: deploy-prod

bug fix
  docs/firebase.md
  src/plugins/firebase.js
  tools/backup.js
Due: deploy-prod

bug fix
  public/firebase-messaging-sw.js
  public/index.html
Due: none

bug fix
  public/index.html
Due: none

service worker cache test
  public/service-worker.js
Due: none

bug fix
  public/service-worker.js
  src/App.vue
  src/components/EditableItem.vue
  src/pages/Policy.vue
  src/store/init.js
  src/store/ui.js
Due: deploy-prod

bug fix
  src/components/EditableItem.vue
  src/components/FormattedTextEditor.vue
  src/components/TextEditor.vue
  src/pages/Group.vue
  src/pages/Index.vue
  src/pages/Invitation.vue
  src/pages/Policy.vue
  src/pages/User.vue
  src/parts/Profile.vue
  src/parts/admin/Invitation.vue
  src/parts/admin/Service.vue
  src/store/init.js
  src/store/ui.js
Due: deploy-prod

bug fix
  public/service-worker.js
Due: none

bug fix
  firebase.json
Due: deploy-prod

add guidance to edit profile
  public/service-worker.js
  src/parts/Profile.vue
Due: deploy-prod

remove EditableItem
  src/components/ChipSelector.vue
  src/components/EditableItem.vue
  src/components/OnOffEditor.vue
  src/pages/Group.vue
  src/parts/GroupsOfUser.vue
  src/parts/admin/Authentication.vue
  src/parts/admin/Invitation.vue
Due: deploy-prod

improve UI
  src/conf/icons.js
  src/locales/en_US.json
  src/locales/ja_JP.json
  src/pages/Admin.vue
  src/pages/Invitation.vue
  src/parts/Profile.vue
  src/parts/admin/AdminSectionHeader.vue
  src/parts/admin/Invitation.vue
Due: deploy-prod

refactoring
  src/pages/Admin.vue
  src/pages/Invitation.vue
  src/parts/Profile.vue
  src/parts/admin/Invitation.vue
  tools/backup.js
Due: deploy-prod

add template of invitation
  src/locales/en_US.json
  src/locales/ja_JP.json
  src/pages/Admin.vue
  src/parts/admin/Account.vue
Due: deploy-prod

bug fix
  src/parts/admin/Account.vue
Due: deploy-prod

disable firebase messaging for safali
  src/App.vue
  src/plugins/firebase.js
  yarn.lock
Due: deploy-prod

refactoring, UI inprovement
  src/App.vue
  src/components/ChipSelector.vue
  src/components/FormattedTextEditor.vue
  src/components/OnOffEditor.vue
  src/components/TextEditor.vue
  src/conf/routes.js
  src/pages/Group.vue
  src/pages/Index.vue
  src/pages/Invitation.vue
  src/parts/admin/CreateGroup.vue
  src/parts/admin/CreateUser.vue
Due: deploy-prod

add release tool
  public/service-worker.js
  tools/release.sh
Due: none

add signin with line for test
  firebase.json
  functions/entries.js
  functions/line_me.js
  functions/package.json
  functions/yarn.lock
  package.json
  public/service-worker.js
  src/auth/init.js
  src/auth/line_me.js
  src/auth/localStrage.js
  src/auth/providers.js
  src/auth/utils.js
  src/conf/providers.js
  src/parts/admin/Authentication.vue
  yarn.lock
Due: deploy-functions, deploy-prod

add signin with line for test
  public/img/icons/android-chrome-192x192.png
  public/img/icons/android-chrome-512x512.png
  public/img/icons/android-chrome-maskable-192x192.png
  public/img/icons/android-chrome-maskable-512x512.png
  public/img/icons/apple-touch-icon-120x120.png
  public/img/icons/apple-touch-icon-152x152.png
  public/img/icons/apple-touch-icon-180x180.png
  public/img/icons/apple-touch-icon-60x60.png
  public/img/icons/apple-touch-icon-76x76.png
  public/img/icons/apple-touch-icon.png
  public/img/icons/favicon-16x16.png
  public/img/icons/favicon-32x32.png
  public/img/icons/msapplication-icon-144x144.png
  public/img/icons/mstile-150x150.png
  public/img/icons/safari-pinned-tab.svg
  public/service-worker.js
  src/auth/providers.js
  tests/unit/auth/providers.spec.js
Due: deploy-prod

add signin with line for test: bugfix
  .github/workflows/functions.yaml
  functions/initialData.js
  functions/line_me.js
  package.json
  public/service-worker.js
  src/auth/line_me.js
  src/auth/providers.js
  src/auth/utils.js
  yarn.lock
Due: deploy-functions, deploy-prod
