Repository MichinobuMaeda/tamurodemo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-storage, deploy-firestore, deploy-functions, deploy-prod

.gitlab-ci.yml:

image: rambabusaravanan/firebase

stages:
  - deploy

cache:
  paths:
    - node_modules/
    - functions/node_modules/
  key: "$CI_REPOSITORY_URL"

deploy-storage:
  stage: deploy
  only:
    refs:
      - master
    changes:
      - storage.rules
  script:
    - cd functions && npm i && cd ..
    - firebase use $PROJECT_ID --token $FIREBASE_TOKEN
    - firebase deploy --only storage -m "Pipe $CI_PIPELINE_ID Build $CI_BUILD_ID @ Hash ${CI_COMMIT_SHA:0:7}" --token $FIREBASE_TOKEN

deploy-firestore:
  stage: deploy
  only:
    refs:
      - master
    changes:
      - firestore.indexes.json
      - firestore.rules
  script:
    - cd functions && npm i && cd ..
    - firebase use $PROJECT_ID --token $FIREBASE_TOKEN
    - firebase deploy --only firestore -m "Pipe $CI_PIPELINE_ID Build $CI_BUILD_ID @ Hash ${CI_COMMIT_SHA:0:7}" --token $FIREBASE_TOKEN

deploy-functions:
  stage: deploy
  only:
    refs:
      - master
    changes:
      - functions/**/*
  script:
    - cd functions && npm i && cd ..
    - firebase use $PROJECT_ID --token $FIREBASE_TOKEN
    - firebase deploy --only functions -m "Pipe $CI_PIPELINE_ID Build $CI_BUILD_ID @ Hash ${CI_COMMIT_SHA:0:7}" --token $FIREBASE_TOKEN

deploy-prod:
  stage: deploy
  only:
    refs:
      - master
    changes:
      - src/**/*
      - src-pwa/**/*
      - package.json
      - yarn.lock
      - quasar.conf.js
      - babel.config.js
      - firebase.json
  script:
    - yarn
    - node ./tools/setFirebaseConfig.js
    - yarn run build
    - firebase use $PROJECT_ID --token $FIREBASE_TOKEN
    - firebase deploy --only hosting -m "Pipe $CI_PIPELINE_ID Build $CI_BUILD_ID @ Hash ${CI_COMMIT_SHA:0:7}" --token $FIREBASE_TOKEN

change CI conf
  src/conf/version.js
Due: deploy-prod

test: UI update
  src/conf/version.js
Due: deploy-prod

test: UI update
  package.json
  src/conf/version.js
  src/store/actionsService.js
  yarn.lock
Due: deploy-prod

test: UI update
  src/store/actionsService.js
Due: deploy-prod

bug fix
  .env.phpunit
  .env.staging
  src/conf/auth.js
  src/conf/version.js
  src/store/actionsAuth.js
  src/store/actionsService.js
  src/store/getters.js
  src/store/state.js
Due: deploy-prod

bug fix cache control
  firebase.json
  src/conf/version.js
  src/layouts/MyLayout.vue
  src/store/actionsService.js
Due: deploy-prod

test: release UI new version on deoply
  .gitlab-ci.yml
  src/conf/version.js
  tools/updateUiVersion.js
Due: deploy-prod

test: release UI new version on deoply
  .gitlab-ci.yml
  src/conf/version.js
Due: deploy-prod

test: release UI new version on deoply
  src/conf/version.js
  tools/updateUiVersion.js
Due: deploy-prod

test: release UI new version on deoply
  package.json
  tools/updateUiVersion.js
  tools/updateVersion.js
  yarn.lock
Due: deploy-prod

test: release UI new version on deoply
  .gitignore
  tools/updateUiVersion.js
Due: none

test: release UI new version on deoply
  src/conf/version.js
Due: deploy-prod

test: release UI new version on deoply
  firebase.json
  package.json
  src/conf/version.js
  tools/updateUiVersion.js
  tools/updateVersion.js
Due: deploy-prod

add function to release new version of the UI
  .gitlab-ci.yml
  functions/index.js
Due: deploy-functions

bug fix
  functions/index.js
Due: deploy-functions

add function deploy hook
  functions/index.js
Due: deploy-functions

test deploy
  .gitlab-ci.yml
  src/store/state.js
  tools/updateUiVersion.js
Due: deploy-prod

modify ui
  src/layouts/MyLayout.vue
Due: deploy-prod

refactoring
  .gitattributes
  src/App.vue
  src/components/AccountAdmin.vue
  src/conf/styles.js
  src/layouts/MyLayout.vue
  src/pages/Group.vue
  src/pages/Index.vue
  src/pages/Loading.vue
  src/pages/Preferences.vue
  src/pages/PrivacyPolicy.vue
  src/pages/RawData.vue
  src/pages/Service.vue
  src/pages/SignIn.vue
  src/pages/User.vue
  src/router/index.js
  src/store/actionsAuth.js
  src/store/actionsInitialize.js
  src/store/getters.js
  src/store/mutations.js
  src/store/state.js
  tools/updateUiVersion.js
Due: deploy-prod

bug fix
  src/layouts/MyLayout.vue
  src/pages/Preferences.vue
  src/pages/Service.vue
  src/pages/SignIn.vue
  src/pages/User.vue
  src/store/actionsInitialize.js
  src/store/actionsService.js
Due: deploy-prod

refactoring
  src/components/Dialog.vue
  src/conf/styles.js
  src/i18n/en-us/index.js
  src/i18n/ja-jp-matsuyama/index.js
  src/i18n/ja-jp/index.js
  src/layouts/MyLayout.vue
  src/pages/Preferences.vue
  src/pages/PrivacyPolicy.vue
  src/pages/RawData.vue
  src/pages/Service.vue
Due: deploy-prod

refactoring
  quasar.conf.js
  src/components/AccountAdmin.vue
  src/conf/styles.js
  src/pages/Group.vue
  src/pages/Preferences.vue
  src/pages/SignIn.vue
  src/store/actionsAuth.js
  src/store/actionsService.js
  src/store/getters.js
  src/store/state.js
Due: deploy-prod

bug fix
  src/conf/styles.js
  src/i18n/ja-jp-matsuyama/index.js
  src/i18n/ja-jp/index.js
  src/pages/Preferences.vue
Due: deploy-prod

refactoring
  .gitlab-ci.yml
  src/conf/styles.js
  src/store/getters.js
Due: deploy-prod

refactoring
  functions/index.js
  src/components/Dialog.vue
  src/conf/styles.js
  src/i18n/en-us/index.js
  src/i18n/ja-jp-matsuyama/index.js
  src/i18n/ja-jp/index.js
  src/layouts/MyLayout.vue
  src/pages/Group.vue
  src/pages/Index.vue
  src/pages/Preferences.vue
  src/pages/User.vue
Due: deploy-functions, deploy-prod

refactoring
  functions/index.js
  src/components/ItemDeleteRemove.vue
  src/components/ItemDesc.vue
  src/components/ItemName.vue
  src/conf/styles.js
  src/layouts/MyLayout.vue
  src/pages/Group.vue
  src/pages/Index.vue
  src/pages/Preferences.vue
  src/pages/PrivacyPolicy.vue
  src/pages/Service.vue
  src/pages/SignIn.vue
  src/pages/User.vue
  src/store/actionsInitialize.js
  src/store/state.js
Due: deploy-functions, deploy-prod

add limited privilige mode
  src/conf/styles.js
  src/i18n/en-us/index.js
  src/i18n/ja-jp-matsuyama/index.js
  src/i18n/ja-jp/index.js
  src/layouts/MyLayout.vue
  src/store/getters.js
  src/store/mutations.js
  src/store/state.js
Due: deploy-prod

add group chat
  firestore.rules
  src/components/GroupChat.vue
  src/components/ItemDeleteRemove.vue
  src/components/ItemDesc.vue
  src/conf/styles.js
  src/i18n/en-us/index.js
  src/i18n/ja-jp-matsuyama/index.js
  src/i18n/ja-jp/index.js
  src/pages/Group.vue
  src/pages/Index.vue
  src/store/state.js
Due: deploy-firestore, deploy-prod

refactoring
  src/components/GroupChat.vue
  src/pages/Group.vue
  src/pages/Index.vue
Due: deploy-prod

bug fix, add request chat
  firestore.indexes.json
  src/components/RequestChat.vue
  src/i18n/en-us/index.js
  src/i18n/ja-jp-matsuyama/index.js
  src/i18n/ja-jp/index.js
  src/layouts/MyLayout.vue
  src/pages/Preferences.vue
  src/router/index.js
Due: deploy-firestore, deploy-prod

bug fix, add request chat
  functions/package-lock.json
  functions/package.json
  src/components/GroupChat.vue
  src/components/RequestChat.vue
  src/conf/styles.js
  src/pages/Group.vue
  src/pages/Index.vue
  src/pages/Preferences.vue
  src/pages/RawData.vue
  src/store/actionsInitialize.js
  src/store/mutations.js
  src/store/state.js
  yarn.lock
Due: deploy-functions, deploy-prod

restore material icons
  src/conf/styles.js
  src/pages/Preferences.vue
  src/pages/SignIn.vue
Due: deploy-prod

modify UI. add contact form on sign-in page.
  functions/index.js
  src/components/Dialog.vue
  src/components/GroupChat.vue
  src/components/ItemDesc.vue
  src/conf/styles.js
  src/i18n/en-us/index.js
  src/i18n/ja-jp-matsuyama/index.js
  src/i18n/ja-jp/index.js
  src/layouts/MyLayout.vue
  src/pages/Group.vue
  src/pages/Index.vue
  src/pages/Preferences.vue
  src/pages/SignIn.vue
  src/store/getters.js
  src/store/mutations.js
  src/store/state.js
Due: deploy-functions, deploy-prod

bug fix
  src/components/GroupChat.vue
  src/i18n/en-us/index.js
  src/i18n/ja-jp-matsuyama/index.js
  src/i18n/ja-jp/index.js
Due: deploy-prod

chat: upload / remove images
  firebase.json
  firestore.rules
  quasar.conf.js
  src/App.vue
  src/components/GroupChat.vue
  src/conf/styles.js
  src/i18n/en-us/index.js
  src/i18n/ja-jp-matsuyama/index.js
  src/i18n/ja-jp/index.js
  src/pages/Group.vue
  src/pages/RawData.vue
  src/pages/SignIn.vue
  src/statics/blank.png
  src/statics/blank_.png
  src/store/actionsInitialize.js
  src/store/actionsService.js
  src/store/mutations.js
  src/store/state.js
Due: deploy-firestore, deploy-prod

add jest config
  .eslintrc.js
  .gitlab-ci.yml
  babel.config.js
  package.json
  src/components/Dialog.vue
  src/components/ItemDeleteRestore.vue
  src/i18n/en-us/index.js
  src/i18n/ja-jp-matsuyama/index.js
  src/i18n/ja-jp/index.js
  src/pages/Error404.vue
  src/pages/Group.vue
  src/pages/User.vue
  src/statics/blank_.png
  tests/unit/getters.spec.js
  yarn.lock
Due: deploy-prod

add test of state / getters / mutations.
  package.json
  src/conf/styles.js
  src/layouts/MyLayout.vue
  src/store/actionsService.js
  src/store/getters.js
  src/store/mutations.js
  src/store/state.js
  tests/unit/getters.spec.js
  tests/unit/setEnvVars.js
  tests/unit/state.spec.js
Due: deploy-prod
